@page
@model IndexModel
@{
    ViewData["Title"] = "´Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Exercício 4 AT de C-Sharp</h1>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Produto">Clique para acessar a lista de Produtos</a>
            </li>
        </ul>
    </nav>
</div>
